<PROGRAM>, $, 1
<PROGRAM>, starten, 0
<C_LIST>, id, 2
<C_LIST>, fertig, 3
<C_LIST>, schr, 2
<C_LIST>, lesen, 2
<C_LIST>, ob, 2
<C_LIST>, obni, 3
<C_LIST>, mach, 2
<C_LIST>, wah, 3
<C_LIST>, ende, 3
<C_LIST>, integer, 2
<DECLARATION>, id, 7
<DECLARATION>, schr, 4
<DECLARATION>, lesen, 5
<DECLARATION>, ob, 6
<DECLARATION>, mach, 8
<DECLARATION>, integer, 9
<SCHR>, schr, 10
<LESEN>, lesen, 11
<CONDIT>, ob, 12
<OB>, ob, 13
<OBNI>, ob, 14
<OBNI>, ende, 15
<MACH_WIED>, mach, 16
<WAH>, mach, 17
<DECLAR>, integer, 18
<ATRBUIT>, id, 19
<EXP_LOGIC>, id, 20
<EXP_LOGIC>, literalzahl, 21
<EXP_LOGIC>, tk_op13, 22
<EXP_LOGIC>, tk_op11, 23
<EXP_LOGIC>, tk_deli_0, 24
<EXP_ARIT>, tk_op13, 25
<EXP_ARIT>, tk_op11, 26
<EXP_ARIT>, tk_10, 27
<EXP_ARIT>, tk_15, 28
<EXP_ARIT>, tk_op15, 29
<EXP_ARIT>, tk_op16, 30
<EXP_ARIT>, tk_deli_6, 31
<EXP_ARIT>, tk_deli_1, 31
<STRING_LOGIC>, literalbriefe, 32
<STRING_ARIT>, tk_op11, 33
<STRING_ARIT>, tk_deli_1, 34
<EXPTEST>, id, 35
<EXPTEST>, literalzahl, 35
<EXPTEST>, tk_deli_0, 35
<EXPTEST>, tk_op11, 35
<EXPTEST>, tk_op13, 35
<EXPTEST>, literalbriefe, 36