0, starten, tk_op15, id, tk_op16, <C_LIST>, fertig
1, î
2, <DECLARATION>, <C_LIST>
3, î
4, <SCHR>
5, <LESEN>
6, <CONDIT>
7, <ATRBUIT>
8, <MACH_WIED>
9, <DECLAR>
10, schr, tk_deli_0, <EXPTEST>, tk_deli_1, tk_deli_6
11, lesen, tk_deli_0, id, tk_deli_1, tk_deli_6
12, <OB>, <OBNI>, ende
13, ob, tk_deli_0, <EXP_LOGIC>, tk_deli_1, <C_LIST>
14, obni, <C_LIST>
15, î
16, <WAH>
17, mach, <C_LIST>, wah, tk_deli_0, <EXP_LOGIC>, tk_deli_1
18, integer, id, tk_deli_6
19, id, tk_op10, <EXP_LOGIC>, tk_deli_6
20, id, <EXP_ARIT>
21, literalzahl, <EXP_ARIT>
22, tk_op12, <EXP_LOGIC>
23, tk_op11, <EXP_LOGIC>
24, tk_deli_0, <EXP_LOGIC>, tk_deli_1, <EXP_ARIT>
25, tk_op12, <EXP_LOGIC>
26, tk_op11, <EXP_LOGIC>
27, tk_op13, <EXP_LOGIC>
28, tk_op14, <EXP_LOGIC>
29, tk_op15, <EXP_LOGIC>
30, tk_op16, <EXP_LOGIC>
31, î
32, literalbriefe, <STRING_ARIT>
33, tk_op11, <STRING_LOGIC>
34, î
35, <EXP_LOGIC>
36, <STRING_LOGIC>